div
  login
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') semlepApp

      .navbar-main.navbar-collapse.collapse(collapse='!isCollapsed')
        ul.nav.navbar-nav.navbar-right(ng-hide='currentUser._id')
          li
            a(href='/search') Find Advice
          li
            a(href='/faqs') FAQs
          li
            a(href='/about') About Us
          li
            a(href='/contacts/new') Contact Us
          li
            a(href='', ng-click='login.showLogin = true') Login/Register
        ul.nav.navbar-nav.navbar-right(ng-show='currentUser._id')
          li(ng-hide='login.isAdmin()')
            a(href='/contacts/new') Contact Us
          li
            a(href='/dashboard') Dashboard
          li(ng-hide='login.isAdmin()')
            a(href='/profile') Profile
          li
            a(href='/settings') Settings
          li
            a(href='', ng-click='login.doLogout()', ng-show='currentUser._id') Logout
