.dashboard-admin
  h1 admin dashboard
  h3 contacts
  div(ng-repeat='contact in contacts')
    a(href='contacts/{{contact._id}}') {{contact.createdAt | date}} : {{contact.name}} : {{contact.message}}
  h3 stuff
  div
    a(href='locations') Locations ({{locationsCount.count}})
  div
    a(href='specialisms') Specialisms ({{specialismsCount.count}})
  div
    a(href='sectors') Business sectors ({{sectorsCount.count}})
  div
    a(href='stages') Business stages ({{stagesCount.count}})
  div
    a(href='sizes') Business sizes ({{sizesCount.count}})
  div
    a(href='faqs') Faqs ({{faqsCount.count}})
  div
    a(href='profiles') Profiles ({{profilesCount.count}})
  div
    a(href='users') Users ({{usersCount.count}})
  div
    a(href='business-stats') Business Stats ({{businessStatsCount.count}})