.profile-search
  position absolute
  margin-top -20px
  width 100%
  pointer-events none
  .search-results
    float right
    background white
    padding 1rem
    border 1px solid black
    pointer-events all