.search-page
  .multi-check-container
    label
      width 100%
      cursor pointer
      &:hover
        color lighten(black, 30%)
    .multi-check
      height 0
      overflow hidden
      &.open
        height auto